<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Framework.Portable" version="3.2.99.1-Beta" targetFramework="net45" />
  <package id="MonoGame.Framework.WindowsDX" version="3.5.0.1678" targetFramework="net45" />
  <package id="PhoenixSystem.Engine" version="0.0.1.24-beta" targetFramework="net45" />
  <package id="PhoenixSystem.Monogame" version="0.0.1.6-beta" targetFramework="net45" />
</packages>