<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Framework.Portable" version="3.2.99.1-Beta" targetFramework="portable45-net45+win8+wpa81" />
  <package id="PhoenixSystem.Engine" version="0.0.1.24-beta" targetFramework="portable45-net45+win8+wpa81" />
  <package id="PhoenixSystem.Monogame" version="0.0.1.6-beta" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SpriterDotNet" version="1.3.4.6" targetFramework="portable45-net45+win8+wpa81" />
  <package id="TexturePacker-MonoGameLoader" version="1.0.2" targetFramework="portable45-net45+win8+wpa81" />
</packages>